@import "tailwindcss/base";

.hero-img {
  object-fit: cover;
  object-position: center center;
}

@layer base {
  .hero-content {
    position: relative;
    color: var(--tp-color-white);
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    z-index: 1;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .hero {
    min-height: 650px;
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 15rem 0 1rem 1rem;
  }

  @screen md {
    .hero-content {
      font-size: 120px;
      line-height: 120px;
    }
  }

  @screen xl {
    .hero {
      min-height: 850px;
    }

    .hero-content {
      line-height: 180px;
      font-size: 200px;
    }
  }
}
