@import "tailwindcss/base";

.footer-link div {
  margin: 0;
  padding: 0;
}

.footer-link button {
  margin: 0 15px !important;
}

@layer base {
  .footer {
    flex-direction: column;
  }

  @screen md {
    .footer {
      flex-direction: initial;
    }
  }
}

.icon-span div {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.icon-span:hover div {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.icon-span:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
