.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(146, 200, 62, 0.95);
  z-index: 9;
  padding: 5rem 2rem;
  display: none;
  font-size: 2rem;
  transition: all 500ms;

  left: -100%;
}

.drawer-link {
  margin-bottom: 1rem;
}

.drawer-is-visible {
  left: 0;
  display: block;
}

@screen md {
  .drawer,
  .drawer-is-visible {
    display: none !important;
  }
}
