.section-heading {
  font-size: 3rem;
  font-family: var(--font-bebas-neue);
}

@screen lg {
  .section-heading {
    font-size: 200px;
  }
}

@screen xl {
  .section-heading {
    font-size: 225px;
  }
}
