.section-heading {
  font-size: 3rem;
  font-family: var(--font-bebas-neue);
}

@screen lg {
  .section-heading {
    font-size: 200px;
  }
}

@screen xl {
  .section-heading {
    font-size: 225px;
  }
}

.size-small {
  line-height: 125%;
}

@screen lg {
  .size-small {
    font-size: 75px !important;
  }
}

@screen xl {
  .size-small {
    font-size: 100px !important;
  }
}
