.image-card {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 600px;
  width: 600px;
}

.image-card-img {
  border-radius: 12px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.image-card:hover .show-text {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.show-text {
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1s, opacity 1s;
  color: var(--tp-color-white);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 15px 25px;
  position: absolute;
  visibility: hidden;
}

.image-card:hover .show-icon {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.show-icon {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1s;
  visibility: hidden;
  position: absolute;
  right: 25px;
  bottom: 25px;
  border-radius: 9999px;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--tp-color-white);
  color: var(--tp-color-green-600);
  padding: 2rem;
}

.image-card-icon > div > svg {
  transform: rotate(-45deg);
}
