@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Main CSS Variables
 */
:root {
  --tp-color-white: #fff;
  --tp-color-black: #000;
  --tp-color-black-500: #021e0e;
  --tp-color-black-600: #1e1e1e;
  --tp-color-grey-500: #949599;
  --tp-color-grey-600: #949599;
  --tp-color-green-400: #69ef5d;
  --tp-color-green-500: #33ba06;
  --tp-color-green-600: #005422;
}

@layer base {
  html,
  body {
    @apply text-grey-500 font-sans;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 p-0 font-black;
  }
}
