.img-container {
  min-height: 400px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

@screen md {
  .img-container {
    min-height: 600px;
  }
}

.about-img {
  border-radius: 18px;
}

.dark-card {
  background: var(--tp-color-green-600);
  border-radius: 18px;
  transform: rotate(-7deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: -20px;
}

.light-card {
  background: var(--tp-color-green-300);
  border-radius: 18px;
  transform: rotate(7deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 45px;
}

.text-content {
  line-height: 35px;
}

@screen md {
  .text-content {
    line-height: 40px;
  }
}

.resume-btn button {
  border-radius: 999px;
}
