.btn-primary {
  background: linear-gradient(90deg, #005422, transparent) #69ef5d;
  color: var(--tp-color-white);
  border: 3px solid var(--tp-color-blue-500);
  border-radius: 12px;
  transition: background-color 0.5s;
}

.btn-primary:hover,
.btn-primary:focus {
  text-decoration: none;
  background-color: var(--tp-color-green-500);
}

.btn-primary[disabled]:hover {
  background: var(--tp-color-white);
}

.btn-default {
  border: var(--tp-color-grey-600) 1px solid;
  border-radius: 12px;
  color: var(--tp-color-grey-600);
}

.btn-default:hover {
  color: var(--tp-color-white);
  border-color: var(--tp-color-white);
  background-color: var(--tp-color-green-500);
  transition-duration: 0.5s;
  transition-property: background-color;
}

.btn-black {
  border: 1px solid #fbfff526;
  border-radius: 12px;
  background-color: var(--tp-color-black-600);
  color: var(--tp-color-white);
}

.btn-black:after {
  content: ".";
}

.btn-lg {
  padding: 1.5rem 4rem;
  font-size: 2rem;
  margin: 0 auto;
  display: block;
}

.btn-sm {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.btn-block {
  margin: 0;
  width: 100%;
  text-align: center;
}
