.button {
  padding: 0 35px;
  overflow-y: hidden;
}

.btn-white {
  background-color: var(--tp-color-white) !important;
  border: var(--tp-color-black-500) 1px solid;
  border-radius: 12px;
  color: var(--tp-color-black-500);
}

.btn-black {
  border: 1px solid #fbfff526;
  border-radius: 12px;
  background-color: var(--tp-color-black-600) !important;
  color: var(--tp-color-white);
}

.btn-black:after {
  content: ".";
}

.btn-green {
  color: var(--tp-color-white);
  border: 3px solid var(--tp-color-blue-500);
  border-radius: 12px;
  background: linear-gradient(
    224deg,
    #92c83e 0%,
    #8ec63e 15.48%,
    #83c13f 27.21%,
    #70b941 37.69%,
    #52b044 47.45%,
    #0ca546 56.72%,
    #009948 65.49%,
    #009549 68.73%,
    #008742 76.29%,
    #00632d 92.5%,
    #005221 100%
  ) !important;
}

.btn-lg {
  padding: 1.5rem 4rem;
  font-size: 2rem;
  margin: 0 auto;
  display: block;
}

.btn-sm {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.btn-block {
  margin: 0;
  width: 100%;
  text-align: center;
}

.btn-text {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  transform: translate(0, 60%);
}

button:hover .btn-text {
  opacity: 0;
  transform: translate(0, -100%);
  visibility: hidden;
}

.btn-text-2 {
  visibility: hidden;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 0.3s ease-in-out;
}

button:hover .btn-text-2 {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -50%);
}

.btn-arrow {
  display: inline-block;
}
