.job-card {
  width: 100%;
  max-height: 750px;
  height: 350px;
  position: relative;
}

@screen md {
  .job-card {
    height: 700px;
  }
}

.job-card-img {
  border-radius: 12px;
  object-fit: cover;
}

.job-card-excerpt {
  position: absolute;
  bottom: 50px;
  border-radius: 999px;
  color: var(--tp-color-black);
  background-color: var(--tp-color-white);
  max-width: 550px;
}
